<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2023-09 Target Platform For EcoreTools" sequenceNumber="1694800747">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2023-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/sirius/updates/releases/7.2.1/2023-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.diagram.ui" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui.resources.editor" version="0.0.0"/>
      <unit id="org.apache.batik.ext" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.codec" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.bridge" version="1.16.0.v20230210-1249"/>
      <unit id="org.apache.batik.script" version="1.16.0.v20221027-0840"/>
      <repository id="GMF-Runtime-1.16.1" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202309010720"/>
    </location>
  </locations>
</target>
