<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Luna Target Platform For EcoreTools" sequenceNumber="1462868984">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <repository id="Sirius" location="http://download.eclipse.org/sirius/updates/nightly/4.0.x/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime-feature.feature.group" version="0.0.0"/>
      <repository id="EEF" location="http://download.eclipse.org/modeling/emft/eef/updates/milestones/1.5/S201412231052/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <repository id="Acceleo" location="http://download.eclipse.org/acceleo/updates/milestones/3.6/S201601191321"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui.resources.editor" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/luna/201502271000"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.explorer.contextual.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/amalgam/updates/nightly/1.7.x/neon/"/>
    </location>
  </locations>
</target>
