<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007 Anyware Technologies. All rights reserved. This program
  and the accompanying materials are made available under the terms of the
  Eclipse Public License v1.0 which accompanies this distribution, and is
  available at http://www.eclipse.org/legal/epl-v10.html
    
  Contributors: 
  	   Anyware Technologies - Initial API and implementation
-->
<plugin>

	<extension point="org.eclipse.ui.views">
		<view
			id="org.eclipse.emf.ecoretools.internal.views.EClassHierarchyView"
			class="org.eclipse.emf.ecoretools.internal.views.EClassHierarchyView"
			name="EClass Hierarchy"
			icon="icons/EClassHierarchy.gif"/>
		<view
			id="org.eclipse.emf.ecoretools.internal.views.EReferencesView"
			class="org.eclipse.emf.ecoretools.internal.views.EReferencesView"
			name="EClass References"
			icon="icons/EReference.gif"/>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.emf.ecoretools.EClassAnalysis"
			adaptable="true"
			objectClass="org.eclipse.emf.ecore.EClass">
			<action
				id="org.eclipse.emf.ecoretools.internal.actions.ShowReferencesAction"
				class="org.eclipse.emf.ecoretools.internal.actions.ShowReferencesAction"
				enablesFor="1"
				icon="icons/EReference.gif"
				label="Show References"/>
			<action
				id="org.eclipse.emf.ecoretools.internal.actions.ShowHierarchyAction"
				class="org.eclipse.emf.ecoretools.internal.actions.ShowHierarchyAction"
				enablesFor="1"
				icon="icons/EClassHierarchy.gif"
				label="Show Hierarchy"/>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective
			id="org.eclipse.emf.ecoretools.perspective"
			class="org.eclipse.emf.ecoretools.internal.ui.EcoreToolsPerspective"
			name="Ecore Tools Perspective"
			icon="icons/perspective.png"/>
	</extension>

</plugin>
