<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2013 THALES GLOBAL SERVICES
  All rights reserved.
  
  Contributors:
       Obeo - Initial API and implementation
-->
<plugin>

   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.eclipse.emf.ecoretools.design.service.EcoreToolsDesignPlugin"
            id="org.eclipse.emf.ecoretools.design"
            name="Domain Model">
      </component>
   </extension>

     <extension
           point="org.eclipse.sirius.sessionManagerListener">
        <listener
              class="org.eclipse.emf.ecoretools.design.internal.EcoreToolsSessionListener">
        </listener>
     </extension>
    
</plugin>
