<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EcoreEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EcorePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- EEF Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

         <propertyTab
               id="Instanciation"
               label="Instanciation"
               category="extended"
               afterTab="Base">
         </propertyTab>

         <propertyTab
               id="Data Type"
               label="Data Type"
               category="default">
         </propertyTab>

         <propertyTab
               id="Operation Element"
               label="Operation Element"
               category="default">
         </propertyTab>

         <propertyTab
               id="Exceptions"
               label="Exceptions"
               category="extended"
               afterTab="Operation Element">
         </propertyTab>
<!-- tabs from EcoreTools 1.x -->

  <propertyTab
            category="semantic &amp; extension"
            id="org.eclipse.emf.ecoretools.design.properties.modelTab"
            label="%propertyTab.model"/>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.modelTab"
               category="semantic &amp; extension"
               indented="true"
               id="org.eclipse.emf.ecoretools.design.properties.modelTab.parameterTab"
               label="%propertyTab.parameter"/>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.modelTab.parameterTab"
               category="semantic &amp; extension"
               indented="true"
               id="org.eclipse.emf.ecoretools.design.properties.eAnnotationTab"
               image="icons/view16/eannotation_tab.gif"
               label="%propertyTab.annotation">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.eAnnotationTab"
               category="semantic &amp; extension"
               indented="true"               
               id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata"
               label="%propertyTab.extended.metadata"/>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata"
               category="semantic &amp; extension"
               indented="true"               
               id="org.eclipse.emf.ecoretools.design.properties.genModelDoc"
               image="icons/view16/doc_tab.gif"
               label="%propertyTab.genmodel.doc">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="org.eclipse.emf.ecoretools.design.properties.genModel"
               label="%propertyTab.genmodel">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EAttributePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EAttributePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EAttribute"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EAnnotationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EAnnotationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EAnnotation"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EClassPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EClassPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EClass"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.InstanciationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EClassPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EClass"
               tab="Instanciation">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.DataTypePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EDataTypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EDataType"
               tab="Data Type">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.InstanciationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EDataTypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EDataType"
               tab="Instanciation">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.DataTypePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EEnumPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnum"
               tab="Data Type">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.InstanciationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EEnumPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnum"
               tab="Instanciation">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EEnumLiteralPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EEnumLiteralPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnumLiteral"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.OperationElementPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EOperationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EOperation"
               tab="Operation Element">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.ExceptionsPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EOperationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EOperation"
               tab="Exceptions">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EPackagePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EPackagePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EPackage"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.OperationElementPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EParameterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EParameter"
               tab="Operation Element">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EReferencePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EReferencePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EReference"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
   <!--EcoreTools 1 property views -->
   
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"            
            typeMapper="org.eclipse.emf.ecoretools.tabbedproperties.TabbedPropertiesTypeMapper">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
         <propertyCategory category="documentation"/>
         <propertyCategory category="advanced"/>
            <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
      </propertyContributor>
   </extension>   


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	     <propertySection
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.NameSection"
	        class="org.eclipse.emf.ecoretools.properties.internal.sections.NamePropertySection"
	        tab="org.eclipse.emf.ecoretools.design.properties.modelTab">
	        <input type="org.eclipse.emf.ecore.ENamedElement"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.LowerBoundSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.LowerBoundPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.NameSection">
	        <input type="org.eclipse.emf.ecore.ETypedElement"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.UpperBoundSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.UpperBoundPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.LowerBoundSection">
	        <input type="org.eclipse.emf.ecore.ETypedElement"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.ETypeSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.ETypePropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
	        afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.UpperBoundSection">
            <input type="org.eclipse.emf.ecore.EAttribute"/>
            <input type="org.eclipse.emf.ecore.EOperation"/>
            <input type="org.eclipse.emf.ecore.EParameter"/>
	     </propertySection>	
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.NsPrefixSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.NsPrefixPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.NameSection">
	        <input type="org.eclipse.emf.ecore.EPackage"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.NsURISection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.NsURIPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.NsPrefixSection">
	        <input type="org.eclipse.emf.ecore.EPackage"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.IsContainmentSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.IsContainmentPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.UpperBoundSection">
	        <input type="org.eclipse.emf.ecore.EReference"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.EOppositeSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EOppositePropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.IsContainmentSection">
	        <input type="org.eclipse.emf.ecore.EReference"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.IsAbstractSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.IsAbstractPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.NameSection">
	        <input type="org.eclipse.emf.ecore.EClass"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.IsInterfaceSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.IsInterfacePropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
            afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.IsAbstractSection">
	        <input type="org.eclipse.emf.ecore.EClass"/>
	     </propertySection>
	     <propertySection
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.InstanceClassNameSection"
	        class="org.eclipse.emf.ecoretools.properties.internal.sections.InstanceClassNamePropertySection"
	        tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
	        afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.NameSection">
	        <input type="org.eclipse.emf.ecore.EClassifier"/>
	     </propertySection>
	     <propertySection
             id="org.eclipse.emf.ecoretools.design.properties.ecore.IsSerializableSection"
             class="org.eclipse.emf.ecoretools.properties.internal.sections.IsSerializablePropertySection"
             tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
	        afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.InstanceClassNameSection">
            <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>	      
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.EAnnotationSourceSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EAnnotationSourcePropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab">
            <input type="org.eclipse.emf.ecore.EAnnotation"/>
	     </propertySection>	
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.EEnumLiteralLiteralSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EEnumLiteralLiteralPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
	        afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.NameSection">
            <input type="org.eclipse.emf.ecore.EEnumLiteral"/>
	     </propertySection>	      
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.EEnumLiteralValueSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EEnumLiteralValuePropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
	        afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.EEnumLiteralLiteralSection">
            <input type="org.eclipse.emf.ecore.EEnumLiteral"/>
	     </propertySection>
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.DetailEntryKeySection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.DetailEntryKeyPropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab">
            <input type="org.eclipse.emf.ecore.impl.EStringToStringMapEntryImpl"/>
	     </propertySection>	     
	     <propertySection
            id="org.eclipse.emf.ecoretools.design.properties.ecore.DetailEntryValueSection"
            class="org.eclipse.emf.ecoretools.properties.internal.sections.DetailEntryValuePropertySection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab"
	        afterSection="org.eclipse.emf.ecoretools.design.properties.ecore.DetailEntryValueSection">
            <input type="org.eclipse.emf.ecore.impl.EStringToStringMapEntryImpl"/>
	     </propertySection>
      <propertySection
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EOperationParameterSection"
            id="org.eclipse.emf.ecoretools.design.properties.ecore.parameterSection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab.parameterTab">
         <input type="org.eclipse.emf.ecore.EOperation"/>
      </propertySection>	          

		  <!-- Extended Metadata Sections -->
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.QualifiedSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Qualified"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EPackage"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.AffiliationSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Affiliation"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.WildcardsSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Wildcards"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.PatternFacetSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.PatternFacet"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.EnumerationFacetSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.EnumerationFacet"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <!-- TODO add Member Types Section : EDatatype List -->
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.TotalDigitsSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.TotalDigits"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.FractionDigitsSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.FractionDigits"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.WhitespaceSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Whitespace"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MinExclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MinExclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MinInclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MinInclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MaxInclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MaxInclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MaxExclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MaxExclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MaxLengthSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MaxLength"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.LengthSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Length"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MinLengthSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MinLength"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.ItemTypeSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.ItemType"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.BaseTypeSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.BaseType"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.ProcessingKindSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.ProcessingKind"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.GroupSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Group"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.FeatureKindSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.FeatureKind"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.NamespaceSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Namespace"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.ContentKindSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.ContentKind"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EClass"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.NameSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Name"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	        <input type="org.eclipse.emf.ecore.EClassifier"/>
	     </propertySection>
      <propertySection
            class="org.eclipse.emf.ecoretools.properties.internal.sections.GenModelDocumentationPropertySection"
            id="org.eclipse.emf.ecoretools.design.properties.genModelDoc"
            tab="org.eclipse.emf.ecoretools.design.properties.genModelDoc">
         <input
               type="org.eclipse.emf.ecore.EModelElement">
         </input>
      </propertySection>
      <propertySection
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EAnnotationPropertySection"
            id="org.eclipse.emf.ecoretools.design.properties.eAnnotationSection"
            tab="org.eclipse.emf.ecoretools.design.properties.eAnnotationTab">
         <input
               type="org.eclipse.emf.ecore.EModelElement">
         </input>
      </propertySection>
	  </propertySections>
   </extension>
</plugin>
