<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EcoreEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EcorePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- EEF Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            labelProvider="org.eclipse.sirius.diagram.ui.internal.sheet.SiriusSheetLabelProvider">               
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Base"
               label="Model"
               category="semantic &amp; extension"
               >
         </propertyTab>

         <propertyTab
               id="Instanciation"
               label="Instantiation"
               indented="true"
               category="semantic &amp; extension"
               afterTab="Base">
         </propertyTab>

         <propertyTab
               id="Data Type"
               label="Data Type"
               indented="true"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="Operation Element"
               indented="true"
               label="Operation Element"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="Exceptions"
               label="Exceptions"
               indented="true"
               category="semantic &amp; extension"
               afterTab="Operation Element">
         </propertyTab>
<!-- tabs from EcoreTools 1.x -->


         <propertyTab
               afterTab="Base"
               category="semantic &amp; extension"
               indented="true"
               id="org.eclipse.emf.ecoretools.design.properties.modelTab.parameterTab"
               label="%propertyTab.parameter"/>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.modelTab.parameterTab"
               category="semantic &amp; extension"
               indented="true"
               id="org.eclipse.emf.ecoretools.design.properties.eAnnotationTab"
               image="icons/view16/eannotation_tab.gif"
               label="%propertyTab.annotation">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.eAnnotationTab"
               category="semantic &amp; extension"
               indented="true"               
               id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata"
               label="%propertyTab.extended.metadata"/>
         <propertyTab
               afterTab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata"
               category="semantic &amp; extension"
               indented="true"               
               id="org.eclipse.emf.ecoretools.design.properties.genModelDoc"
               image="icons/view16/doc_tab.gif"
               label="%propertyTab.genmodel.doc">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="org.eclipse.emf.ecoretools.design.properties.genModel"
               label="%propertyTab.genmodel">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EAttributePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EAttributePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EAttribute"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EAnnotationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EAnnotationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EAnnotation"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EClassPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EClassPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EClass"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.InstanciationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EClassPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EClass"
               tab="Instanciation">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.DataTypePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EDataTypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EDataType"
               tab="Data Type">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.InstanciationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EDataTypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EDataType"
               tab="Instanciation">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.DataTypePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EEnumPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnum"
               tab="Data Type">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.InstanciationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EEnumPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnum"
               tab="Instanciation">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EEnumLiteralPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EEnumLiteralPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnumLiteral"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.OperationElementPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EOperationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EOperation"
               tab="Operation Element">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.ExceptionsPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EOperationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EOperation"
               tab="Exceptions">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EPackagePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EPackagePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EPackage"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.OperationElementPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EParameterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EParameter"
               tab="Operation Element">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecoretools.design.properties.parts.forms.EReferencePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecoretools.design.properties.ecore.providers.EReferencePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EReference"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
   <!--EcoreTools 1 property views -->
   
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            labelProvider="org.eclipse.sirius.diagram.ui.internal.sheet.SiriusSheetLabelProvider" 
            typeMapper="org.eclipse.emf.ecoretools.tabbedproperties.TabbedPropertiesTypeMapper">
         <propertyCategory
               category="semantic &amp; extension">
         </propertyCategory>
         <propertyCategory
               category="semantic">
         </propertyCategory>
         <propertyCategory
               category="extension">
         </propertyCategory>
         <propertyCategory
               category="behaviors">
         </propertyCategory>
         <propertyCategory
               category="documentation">
         </propertyCategory>
         <!--
         <propertyCategory category="validation"/>
         -->
         <propertyCategory
               category="style">
         </propertyCategory>
         <propertyCategory category="visual"/>
         <propertyCategory category="domain"/>
         <propertyCategory category="extra"/>
         <propertyCategory
               category="misc">
         </propertyCategory>
      </propertyContributor>
   </extension>


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.sirius.diagram.ui">	    
      <propertySection
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EOperationParameterSection"
            id="org.eclipse.emf.ecoretools.design.properties.ecore.parameterSection"
            tab="org.eclipse.emf.ecoretools.design.properties.modelTab.parameterTab">
         <input type="org.eclipse.emf.ecore.EOperation"/>
      </propertySection>	          

		  <!-- Extended Metadata Sections -->
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.QualifiedSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Qualified"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EPackage"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.AffiliationSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Affiliation"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.WildcardsSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Wildcards"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.PatternFacetSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.PatternFacet"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.EnumerationFacetSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.EnumerationFacet"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <!-- TODO add Member Types Section : EDatatype List -->
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.TotalDigitsSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.TotalDigits"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.FractionDigitsSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.FractionDigits"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.WhitespaceSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Whitespace"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MinExclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MinExclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MinInclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MinInclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MaxInclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MaxInclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MaxExclusiveSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MaxExclusive"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MaxLengthSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MaxLength"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.LengthSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Length"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.MinLengthSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.MinLength"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.ItemTypeSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.ItemType"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.BaseTypeSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.BaseType"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EDataType"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.ProcessingKindSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.ProcessingKind"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.GroupSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Group"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.FeatureKindSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.FeatureKind"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.NamespaceSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Namespace"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.ContentKindSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.ContentKind"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EClass"/>
	     </propertySection>
	     <propertySection
	        class="org.eclipse.emf.ecoretools.properties.internal.metadata.NameSection"
	        id="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata.Name"
	        tab="org.eclipse.emf.ecoretools.design.properties.ecore.properties.extendedMetadata">
	        <input type="org.eclipse.emf.ecore.EStructuralFeature"/>
	        <input type="org.eclipse.emf.ecore.EClassifier"/>
	     </propertySection>
      <propertySection
            class="org.eclipse.emf.ecoretools.properties.internal.sections.GenModelDocumentationPropertySection"
            id="org.eclipse.emf.ecoretools.design.properties.genModelDoc"
            tab="org.eclipse.emf.ecoretools.design.properties.genModelDoc">
         <input
               type="org.eclipse.emf.ecore.EModelElement">
         </input>
      </propertySection>
      <propertySection
            class="org.eclipse.emf.ecoretools.properties.internal.sections.EAnnotationPropertySection"
            id="org.eclipse.emf.ecoretools.design.properties.eAnnotationSection"
            tab="org.eclipse.emf.ecoretools.design.properties.eAnnotationTab">
         <input
               type="org.eclipse.emf.ecore.EModelElement">
         </input>
      </propertySection>
	  </propertySections>
   </extension>
</plugin>
